* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    align-items: center;
    /* justify-content: space-between; */
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

#iphone {
    background-image: url(imagens/frame-iphone.png);
    width: 94vw;
    height: 90vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 100vw;
    max-height: 100vh; */
    overflow: auto;
}

.container-celular {
    width: 18.5vw;
    height: 68.5vh;
    border-radius: 4px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

}

.container-celular::-webkit-scrollbar {
    width: 0px;
}

.container-celular::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.img-de-fundo {
    width: 100%; 
}

#lista-redes {
    margin-bottom: 45vh;
    margin-right: 1vw;
    /* width: 6vw;
    max-width: 100vw;
    max-height: 100vh; */
}

.logo {
    width: 4vw;
    height: 7vh;
    border-radius: 50%;
    margin-top: 7px;
    max-width: 100vw;
    max-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.534) 8px 9px 6px;
}

.logo:hover {
    border: 1px solid white;
    cursor: pointer;
}



@media screen and (max-width:800px) {
    #iphone {
        width: 60vw;
        height: 60vh;
        margin-left: 5vw
    } 
    
    .container-celular {
        width: 51.5vw;
        height: 45vh;
    }

    .logo {
        width: 7vw;
        height: 7vh;
    }
    
    #lista-redes {
        margin-left: 25vw;
    }
}